@font-face {
  font-family: "iconfont"; /* Project id 4354830 */
  src: url('iconfont.woff2?t=1701460033798') format('woff2'),
       url('iconfont.woff?t=1701460033798') format('woff'),
       url('iconfont.ttf?t=1701460033798') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-random:before {
  content: "\e683";
}

.icon-sequential:before {
  content: "\e624";
}

.icon-play:before {
  content: "\e734";
}

.icon-minimize:before {
  content: "\e63c";
}

.icon-pause-circle:before {
  content: "\e6fe";
}

.icon-setting:before {
  content: "\e607";
}

.icon-playlist:before {
  content: "\ea82";
}

.icon-loop:before {
  content: "\e69d";
}

.icon-single:before {
  content: "\e69f";
}

.icon-play-space:before {
  content: "\e65d";
}

.icon-next:before {
  content: "\e629";
}

.icon-previous:before {
  content: "\e632";
}

.icon-al:before {
  content: "\e621";
}

.icon-ar:before {
  content: "\e622";
}

.icon-music:before {
  content: "\e64e";
}

.icon-download:before {
  content: "\e627";
}

.icon-arrow-bottom:before {
  content: "\e62f";
}

.icon-theme:before {
  content: "\e6c6";
}

.icon-arrow-down:before {
  content: "\e617";
}

.icon-share:before {
  content: "\e626";
}

.icon-pause:before {
  content: "\e7fe";
}

.icon-play-circle:before {
  content: "\e87e";
}

.icon-min:before {
  content: "\e60e";
}

.icon-volume-cross:before {
  content: "\ea0f";
}

.icon-volume-low:before {
  content: "\ea11";
}

.icon-volume-high:before {
  content: "\ea12";
}

.icon-volume-zero:before {
  content: "\ea13";
}

.icon-volume-middle:before {
  content: "\ea14";
}

.icon-plus:before {
  content: "\e8fe";
}

.icon-like:before {
  content: "\e652";
}

.icon-search:before {
  content: "\e65a";
}

.icon-collect:before {
  content: "\e69a";
}

.icon-max:before {
  content: "\e651";
}

.icon-mail:before {
  content: "\e6c8";
}

.icon-quit:before {
  content: "\e6b6";
}

.icon-play-inactive:before {
  content: "\e62a";
}

.icon-play-active:before {
  content: "\e62b";
}

