.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text-ellipsis-l2 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.text-ellipsis-l3 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.absolute-middle-x {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.absolute-middle-y {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.absolute-middle-full {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.super_link {
  color: #507daf;
  cursor: pointer;
}
.super_link:hover {
  color: #155fb3;
}
